.about-container {
	height: calc(100% - 80px);
	width: 100%;
	text-align: center;
	color: rgb(199, 194, 187);
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

h3,
h2,
h1 {
	margin: 0 !important;
}
