.search-text-container {
	height: calc(100% - 100px);
	width: 100%;
}

.search-text-header {
	font-size: 20px;
	height: calc(100% - 80px);
	margin-top: 1rem;
}

.add-text {
	width: 89.7vw;
	min-height: 5vh;
	height: 100%;
	background-color: rgba(54, 54, 54, 0.6);
	margin: 1rem 5rem 0 5rem;
	color: white;
	font-size: 1rem;
	padding: 0.2rem 1rem 0.2rem 1rem;
	cursor: pointer;
}

::placeholder {
	color: white;
	opacity: 0.8;
}

.text-list-element {
	text-align: left;
	background-color: rgb(16, 17, 18);
	min-width: 6rem;
	width: 90vw;
	min-height: 8px;
	padding: 0.6rem;
	margin: 0 5rem 1rem 5rem;
}

.text-list-language {
	text-align: left;
	margin: 0 0 0 6rem;
	color: #ebfbff;
}

.search-text-header a {
	color: #009cf8;
}

.search-text-header a:hover,
.search-text-header a:link,
.search-text-header a:active,
.search-text-header a:focus {
	text-decoration: none;
	color: #009cf8;
}
